body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.facultyAttr {
  background-color: rgb(191, 10, 127);
  width: 120px;
  padding: 10px 10px 10px 10px;
  margin: 5px 10px;
  display: inline-block;

 }